<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="sources/css/main.css">
    <link rel="stylesheet" href="sources/css/grid_layout.css">
    <link rel="stylesheet" href="sources/css/print.css">
    <meta name="keywords" content="BG Shop, jocuri, jocuri de societate, Monopoly, DnD, zaruri, carti de joc, board games, Gamewright, Days of Wonder">
    <meta name="description" content="Strategii, RPG, carti de joc, figurine, zaruri si multe altele la BG Shop Bucuresti cu livrare la domiciliu. Comandati acum!">    
    <title>Pagina Principala - BG Shop</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div id="page-grid">
            <section id="welcome">
                <h2>Bine ati venit! <%- locals.ip %></h2>
                <p>
                    Bine ați venit pe site-ul <b>BG Shop</b>, destinația perfectă pentru pasionații de <b>jocuri de societate</b>! Aici vă așteaptă o experiență captivantă în lumea divertismentului interactiv! Indiferent dacă sunteți un veteran experimentat sau un începător curios, 
                    BG Shop vă oferă o gamă largă de jocuri de societate, de la clasicele preferate până la cele mai noi lansări. Vă invităm să explorați universul fascinant al jocurilor de societate și să vă bucurați de momente memorabile alături de prieteni și familie!
                </p>
                <%- include("../partials/login_form.ejs") %>
                <figure id="banner-small">
                    <picture>
                        <source srcset="/sources/images/boardgame1-mobile.jpg" media="(max-width: 820px)">
                        <source srcset="/sources/images/boardgame1-tablet.jpg" media="(max-width: 1280px)">
                        <img src="/sources/images/boardgame1.jpg" alt="board game" title="joc de societate">
                    </picture>
                    <figcaption>Un board game misto</figcaption>
                </figure>
                <div>
                    <a href="/sources/images/boardgame1.jpg" download id="img1-download">Descarcati imaginea</a>
                </div>
            </section>
            <section id="dayprod">
                <h3>Produsele noastre</h3>
                <!-- <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa soluta perspiciatis quas vitae provident. Tempore officia repudiandae labore, illum rem culpa est quibusdam commodi hic dicta optio pariatur sint ad!
                </p> -->
                <% for(let prod of locals.prods) { %>
                    <div class="prodcard">
                        <img src="sources/images/products/<%- prod.imagine %>" class="prodcard-img" alt="imagine <%- prod.nume %>">
                        <div class="prodcard-body">
                            <h5 class="prodcard-title"><%- prod.nume %></h5>
                            <p class="prodcard-text">
                                Gen: <span class="genre"><%- prod.gen %></span> |
                                Tematica: <span class="theme"><%- prod.tematica %></span> |
                                Varsta: <span class="age"><%- prod.varsta %></span>+
                            </p>
                            <a href="/produs/<%- prod.id %>" class="btn btn-primary">Vezi produsul</a>
                        </div>
                    </div>
                <% } %>
            </section>
            <section id="newprods">
                <h3>Informatii utile</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, amet officiis velit quos quae neque iste itaque esse iure ipsum excepturi deserunt perspiciatis impedit dicta iusto! Temporibus dolore ea pariatur.
                    Quia ex quod voluptas architecto ipsam quaerat ut omnis, ea illo et beatae fugit cum est aut deserunt error commodi perspiciatis in nisi provident tempora a facilis sit quas! Deleniti!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis ab soluta, natus explicabo cum facere necessitatibus modi quidem repellat earum delectus doloribus obcaecati sint perferendis dicta et adipisci. Expedita?
                </p>
            </section>
            <section id="schedule">
                <h3>Orarul Nostru</h3>
                <table id="scheduletable">
                    <caption>Program de lucru</caption>
                    <thead>
                        <tr>
                            <th>Perioada Saptamanii</th>
                            <th>Ziua</th>
                            <th>Program normal</th>
                            <th>Program de sarbatori</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tab-no-bg">
                            <td rowspan="5" class="tab-no-bg">Zile lucratoare</td>
                            <td>Luni</td>
                            <td>8-20</td>
                            <td>10-18</td>
                        </tr>
                        <tr>
                            <td>Marti</td>
                            <td>8-20</td>
                            <td>10-16</td>
                        </tr>
                        <tr>
                            <td>Miercuri</td>
                            <td>8-20</td>
                            <td>10-16</td>
                        </tr>
                        <tr>
                            <td>Joi</td>
                            <td>8-20</td>
                            <td>10-16</td>
                        </tr>
                        <tr>
                            <td>Vineri</td>
                            <td>9-18</td>
                            <td>INCHIS</td>
                        </tr>
                        <tr class="tab-no-bg">
                            <td rowspan="2" class="tab-no-bg">Weekend</td>
                            <td>Sambata</td>
                            <td>10-16</td>
                            <td>INCHIS</td>
                        </tr>
                        <tr>
                            <td>Duminica</td>
                            <td colspan="2">INCHIS</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="tab-no-bg"><td colspan="4" class="mention tab-no-bg"><em>Pot aparea posibile modificari ale orarului in timpul sarbatorilor mari</em></td></tr>
                    </tfoot>
                </table>
            </section>
            <section id="news">
                <h3>Stiri si Anunturi</h3>
                <article>
                    <h4 class="newstitle">Nou Magazin</h4>
                    <p>
                        Magazinul BG Shop este in sfarsit DESCHIS! Va invitam sa veniti si sa vedeti ce produse avem in stoc. Puteti gasi <i>board games</i> (jocuri de societate), figurine, zaruri, si multe altele! 
                        Preturile sunt accesibileiar livrarea la domiciliu este si ea o optiune. Cu deschiderea acestui prim magazin va invitam in lumea magica a jocurilor. <strong>Atentie!</strong> Distractia este obligatorie!
                    </p>
                </article>
                <hr class="hr-custom">
                <article>
                    <h4 class="newstitle">The Night Cage e acum in stoc!</h4>
                    <video poster="/sources/images/nightcage.webp" preload="metadata" controls>
                        <source src="/sources/videos/darkgame.mp4" type="video/mp4">
                        <source src="/sources/videos/darkgame.ogv" type="video/ogv">
                        <source src="/sources/videos/darkgame.webm" type="video/webm">
                        <track src="/sources/captions/darkgame_ro.vtt" kind="captions" srclang="ro" label="romana" default/>
                        <track src="/sources/captions/darkgame_en.vtt" kind="captions" srclang="en" label="english"/>
                        Browserul dvs nu poate afisa videouri. Incercati pe alt browser.
                    </video>
                </article>
                <hr class="hr-custom">
                <article>
                    <h4 class="newstitle">Acum avem produse de la <a href="https://gamewright.com/" target="_blank">Gamewright</a> si nu numai</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ipsum et perspiciatis delectus nihil non itaque cupiditate quam molestias impedit soluta eaque quis, magnam voluptate fuga hic facere. Optio, temporibus.
                        Ab dicta voluptatem non ducimus at, mollitia incidunt. Neque fugit maxime sapiente quis eum magnam totam voluptas ducimus. Tempore corporis iure corrupti ut voluptate laudantium rerum placeat quisquam ratione voluptas?
                    </p>
                </article>
            </section>
            <section id="promotions">
                <h3>Promotii</h3>
                <section>
                    <h4>Promotie noua</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias minus architecto fugit enim tempore repellendus earum, vitae sapiente! Necessitatibus quod incidunt nesciunt reiciendis vel in labore ad amet, sequi porro.
                    Natus sed quisquam voluptas nisi dolor aspernatur ipsum distinctio suscipit consectetur unde magni explicabo beatae accusantium deserunt asperiores quaerat, perferendis repellat praesentium consequatur exercitationem pariatur? Maiores ut dolor asperiores placeat?</p>
                </section>
                <section>
                    <h4>Promotie pachet</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sed nesciunt autem maxime enim quos tempora facere, doloribus minima laudantium ullam iusto distinctio quae dolorem, impedit illo soluta, laboriosam ut?
                    Ipsa, omnis voluptates laboriosam minima impedit incidunt quos asperiores temporibus ex at odio esse dignissimos consequatur, in reiciendis officia harum iste sint eligendi distinctio debitis earum labore fuga. Commodi, consequuntur.</p>
                </section>
                <div class="iframe-container">
                    <div class="iframe-tabs">
                        <a class="iframelink" href="https://www.youtube.com/embed/C8EZ4i53xu0?si=tCyuOJNz1Whip2c_" target="ifr-video">Inis</a>
                        <a class="iframelink" href="https://www.youtube.com/embed/pxhJV3cF_30?si=4s5bn6hIiacn4dys" target="ifr-video">Scythe</a>
                        <a class="iframelink" href="https://www.youtube.com/embed/d5bZwwrIwLE?si=W3afTWtzyU9XfstP" target="ifr-video">Root</a>
                    </div>
                    <iframe width="560" height="315" name="ifr-video" src="https://www.youtube.com/embed/d5bZwwrIwLE?si=W3afTWtzyU9XfstP" 
                    title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen></iframe>
                </div>
            </section>
            <section id="qa">
                <h3>Intrebari si Raspunsuri</h3>
                <details>
                    <summary>Faceti livrare la domiciliu?</summary>
                    <p>DA!</p>
                </details>
                <details>
                    <summary>Jocurile sunt scumpe?</summary>
                    <p>NU! :D</p>
                </details>
                <details>
                    <summary>Cum va contactam?</summary>
                    <ul>
                        <li><i class="fa-regular fa-envelope fa-beat-fade"></i><a href="mailto:contact@bgshop.ro">Contactati-ne prin mail</a></li>
                        <li><i class="fa-solid fa-phone fa-beat-fade"></i><a href="tel:+0123456789">Sunati-ne</a></li>
                        <li><i class="fa-brands fa-whatsapp"></i><a href="https://api.whatsapp.com/send?phone=+0123456789">Whatsapp</a></li>
                    </ul>
                </details>
                <div id="warhammer-fig">
                    <!-- <figure>
                        <img src="/sources/images/warhammer.jpg" alt="Warhammer Figurine">
                        <figcaption><q>Mult noroc, soldat!</q></figcaption>
                    </figure> -->
                </div>
            </section>
            <section id="static-gallery">
                <h3>Galerie</h3>
                <div id="gallery-grid">
                    <% let currHour = new Date().getHours(); %>
                    <% let filteredImgs = locals.images.filter(image => {
                        let startTime = parseInt(image.time.split("-")[0].trim().split(":")[0]);
                        let endTime = parseInt(image.time.split("-")[1].trim().split(":")[0]);
                        if(startTime <= currHour && endTime >= currHour) return true;
                        if(startTime >= endTime && (currHour >= startTime || currHour <= endTime)) return true;
                        return false;
                    }); %>
                    <% let displayedImgs = filteredImgs.slice(0, 10); %>
                    <% for(let img of displayedImgs) { %>
                        <figure>
                            <picture>
                                <source src="<%= img.filename_medium %>" media="(max-width: 1280px)">
                                <img src="<%= img.filename %>" alt="<%= img.title %>">
                                <figcaption><%= img.description %></figcaption>
                            </picture>
                        </figure>
                    <% } %>
                    <div id="whoa-div">
                        <div id="whoa-text">
                            <!-- <p id="whoa">Spune <span id="sayyes">DA</span> jocurilor!</p> -->
                            Spune DA jocurilor!
                            <div id="whoa-reflect">Spune DA jocurilor!</div>
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
        <div id="watermark"><p>Fota<br>Adrian</p></div>
    </main>
    <%- include("../partials/footer.ejs") %>
    <script src="/sources/js/prodcards.js"></script>
</body>
</html>