<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Produsele oferite de BG Shop sunt multe si variate. Gaisi aici jocuri de societate si figurine de la branduri precum Days of Wonder sau Gamewright.">
    <meta name="keywords" content="BG Shop, jocuri de societate, magazin, produse, carti, figurine">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/sources/css/product.css">
    <title> <%- locals.product.nume %> - BG Shop</title>
</head>
<body>
    <%- include("../partials/header") %>
    <main>
        <section>
            <h2>Produs:</h2>
            <article id="product">
                <h3><span class="name"><%- locals.product.nume %></span></h3>
                <p>Pret: <span class="price"><%- locals.product.pret %> RON</span></p>
                <figure class="prodimg">
                    <img src="/sources/images/products/<%- locals.product.imagine %>" alt="imagine <%- locals.product.nume %>">
                </figure>
                <p><span class="description"><%- locals.product.descriere %></span></p>
                <p>Gen: <span class="genre"><%- locals.product.gen %></span></p>
                <p>Tematica: <span class="theme"><%- locals.product.tematica %></span></p>
                <p>Brand: <span class="brand"><%- locals.product.brand %></span></p>
                <p>Varsta: <span class="age"><%- locals.product.varsta %>+</span></p>
                <p>Numar de jucatori: <span class="players"><%- locals.product.nr_jucatori_min %> - <%- locals.product.nr_jucatori_max %></span></p>
                <% if(locals.product.extensie) { %>
                    <p>Extensie</p>
                <% } else if(locals.product.gen != "figurina") { %>
                    <p>Joc de baza</p>
                <% } %>
                <p>Data adaugare: <span class="add-date"><%- locals.product.data_adaugare %></span></p>
                <p>Cuvinte cheie: <span class="keywords"><%- locals.product.cuvinte_cheie %></span></p>
            </article>
        </section>
    </main>
    <%- include("../partials/footer") %>
    <script>
        window.addEventListener("load", () => {
            const prodcookie = document.getElementsByClassName("name")[0].innerHTML;
            if(getCookie("banner_accepted")) setCookie("lastProduct", prodcookie, 60000);
            // console.log(getCookie("lastProduct"));
        });
    </script>
</body>
</html>